.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
}
.nav {
    float: right;
}
.one-half {
    width: 50%;
}

.one-third {
    width: 33.33%;
}

.one-fourth {
    width: 25%;
}

.one-sixth {
    width: 16.66%;
}

.one-eighth {
    width: 12.5%;
}

@media screen and (min-width: 360px){
    .container {
        width: 100%;
    }
    .full-sm{
        width: 100%;
    }
    .one-half-sm{
        width:50%;
    }
    .one-third-sm {
        width: 33.33%;
    }
    .two-thirds-sm{
        width: 66.66%;
    }
    .one-fourth-sm {
        width: 25%;
    }
    .one-sixth-sm {
    width: 16.66%;
    }
    .one-eigth-sm {
    width: 12.5%;
    }
    .nav {
        float: none;
    }
}
@media screen and (min-width: 720px){
    .full-md{
        width: 100%;
    }
    .one-half-md{
        width:50%;
    }
    .one-third-md {
        width: 33.33%;
    }
    .two-thirds-md{
        width: 66.66%;
    }
    .one-fourth-md {
        width: 25%;
    }
    .one-sixth-md {
    width: 16.66%;
    }
    .one-eigth-md {
    width: 12.5%;
    }

}

@media screen and (min-width: 1080px){
    .full-lrg{
        width: 100%;
    }

    .one-half-lrg{
        width:50%;
    }
    .one-third-lrg {
        width: 33.33%;
    }
    .two-thirds-lrg{
        width: 66.66%;
    }
    .one-fourth-lrg {
        width: 25%;
    }
    .one-sixth-lrg {
        width: 16.66%;
    }
    .one-eigth-lrg {
        width: 12.5%;
    }
}

/* alternatively could use
@media screen and (max-width: 720px) {
    .container {
        width 100%
        }
    .one-half
    .one-third
    .one-fourth
    .one-sixth
    .one-eighth {
    width: 100%
        }
}
*/


