div.container {
    width: 100%;
    border: 1px black;
}

nav {
    float: left;
    margin: 0px;
}

article {
    margin-left: 170px;
    border-left: 1px;
    padding: 10px;

}

.menu {
    list-style-type: none;
    position: relative;
}
